body {
    font-family: 'Georgia', serif;
    background-color: #0A0908;
    color: #F2F4F3;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #22333B;
    padding: 1rem 2rem;
}
.logo {
    display: flex;
    align-items: center;
    color: #F2F4F3;
    font-size: 1.5rem;
}
.menu-icon {
    display: none;
    font-size: 2rem;
    color: #F2F4F3;
    cursor: pointer;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}
.nav-links li a {
    color: #F2F4F3;
    text-decoration: none;
    transition: color 0.3s;
}
.nav-links li a:hover {
    color: #A9927D;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #22333B;
        width: 100%;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}

main {
    background-image: url();
    background-size: cover;
    background-position: center;
    padding: 4rem;
    text-align: center;
}
.branches-section {
    padding: 2rem;
    text-align: center;
}

.branches-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.branch-item {
    background-color: #22333B;
    border-radius: 10px;
    padding: 1rem;
    color: #F2F4F3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.branch-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

h3 {
    margin-bottom: 1rem;
}
